{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": false
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
     "arrowFunctions": true,
     "blockBindings": true,
     "classes": true,
     "defaultParams": true,
    /* "destructuring": true, */
    /* "forOf": true, */
    /* "generators": false, */
     "modules": true,
    /* "objectLiteralComputedProperties": true, */
    /* "objectLiteralDuplicateProperties": false, */
    /* "objectLiteralShorthandMethods": true, */
    /* "objectLiteralShorthandProperties": true, */
    /* "spread": true, */
    /* "superInFunctions": true, */
    /* "templateStrings": true, */
    "jsx": true
  },
  "rules": {
/**
 * React Plugin rules
 * https://github.com/yannickcr/eslint-plugin-react
 */
    "react/display-name": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-quotes": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 2,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 0,
    "react/wrap-multilines": 1
  }
}
