$statusBarHeight: 80px;

$moreThanXSmall: "screen and (min-width: 455px)";
$moreThanSmall: "screen and (min-width: 640px)";
$moreThanMedium: "screen and (min-width: 640px)";

$fontSizeMedium: 20px;
$fontSizeLarge: 28px;
$fontSizeLarger: 36px;
